span {
  font-size: 10em;
  font-family: sans-serif;
  font-weight: bold;
  background: red;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
  width: 100vw;
}

.active {
  background: green;
}