<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

  <body class="flex-center gradient">
    <h1>Spectaicles</h1>
    <form>
      <label for="uname"><b>E-mail</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <label for="password">Forgot password?</label>

    </form>
  </body>

</html>