<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

  <body class="gradient">
    <main class="flex-center">
      <div class="turn">
        <h2>Turn the screen to landscape</h2>
        <svg width="251" height="261" viewBox="0 0 251 261" fill="white" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M113.106 22.9424C100.802 10.6391 82.6148 10.1042 71.9163 20.2678L10.4026 81.7814C-0.295925 92.48 0.773931 110.668 13.0773 122.971L129.16 239.053C135.044 244.937 141.998 248.147 149.487 248.682H152.162C159.651 248.682 165.535 246.007 170.349 241.193L231.863 179.679C242.561 168.981 241.491 150.793 229.188 138.49L113.106 22.9424ZM217.952 166.303L155.9 227.817C153.76 229.956 151.621 229.956 150.551 229.422C147.876 228.887 144.666 227.282 142.527 225.142L26.4443 109.598C22.1649 105.318 21.0951 98.8991 23.7697 95.6895L85.2833 34.1759C86.8881 32.5711 88.4929 32.0362 90.0977 32.0362H91.1675C93.8422 32.5711 97.0518 34.1759 99.1915 36.3156L215.806 152.398C220.085 156.677 221.155 163.097 217.945 166.306L217.952 166.303Z"
            fill="white" />
          <path
            d="M0.23285 172.722C6.11706 205.888 31.2587 233.169 62.8225 243.333C59.078 246.007 56.9383 251.892 60.1478 256.171C62.8225 260.45 68.7067 262.59 72.9861 259.381C79.4052 255.636 85.8244 251.357 91.1736 247.077C95.4531 244.403 97.5928 238.518 94.3832 234.239C90.6387 227.82 86.3593 221.401 82.0799 216.051C79.4052 211.772 73.521 209.632 69.2416 212.842C65.4971 215.517 63.3574 220.331 64.9622 224.61C64.4273 224.61 63.8923 224.075 63.8923 224.075C58.543 221.936 53.1938 219.261 48.3794 216.051C44.6349 213.377 40.8904 210.702 37.1459 206.958C33.4014 203.213 31.2617 200.004 28.5871 195.724C26.4474 192.515 24.8426 188.77 23.2378 185.026C21.0981 179.676 19.4933 174.327 18.4235 168.978C17.3536 163.629 10.9345 160.954 6.12012 162.024C1.84069 162.559 -0.833946 167.908 0.235909 172.722H0.23285Z"
            fill="white" />
          <path
            d="M162.319 45.9474C164.994 50.2268 170.878 52.3665 175.157 49.157C178.902 46.4823 181.042 41.668 178.902 36.8536C179.972 36.8536 181.042 37.3886 181.577 37.3886C189.066 39.5283 195.485 42.7378 201.369 47.0173C205.113 49.6919 208.858 52.3665 212.602 56.111C216.347 59.8555 218.487 63.0651 221.161 67.3445C225.976 75.3684 229.72 84.9971 231.325 94.0909C232.395 99.4402 238.814 102.115 243.628 101.045C248.977 99.4402 251.117 94.0909 250.582 88.7416C244.698 54.5063 216.882 25.6202 183.181 17.5932C186.926 14.9185 188.531 9.56926 185.856 4.75491C183.181 0.475491 177.297 -1.66422 173.018 1.54535C166.599 5.28984 160.179 9.03434 154.295 13.3138C150.016 15.9884 147.876 21.8726 151.086 26.152C154.295 33.641 158.04 39.5252 162.319 45.9444V45.9474Z"
            fill="white" />
        </svg>
      </div>
      <div class="eye">
        <h2>Close your left eye</h2>
      </div>
    </main>
    <script>

      /* Ghehehe 🙃 */
      const turn = document.querySelector('.turn');

      setTimeout(() => {
        turn.classList.add('hidden');
      }, 8000);

      setTimeout(() => {
        window.location.href = "/mobile/test_1";
      }, 16000);

    </script>
  </body>

</html>