<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <video id="videoElement"></video>
    <script>const video = document.getElementById('videoElement');

        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                    video.srcObject = stream;
                    video.play();
                })
                .catch(function (err) {
                    console.log('Error accessing camera:', err);
                });
        } else {
            console.log('getUserMedia not supported');
        }
    </script>
</body>

</html>